<div class="container.fluid">
    <div class="sidenav">
      <div style="margin-bottom:12px">
        <a routerLink="/society"><img src="./../../../../assets/icon/society gray.png" class="nav-icons"/>
          <span class="nav-text">Society</span></a>
      </div>
      <div  style="margin-bottom:12px">
        <a  routerLink="/residents"> <img src="./../../../../assets/icon/resident gray.png" class="nav-icons"/>
          <span class="nav-text">Residents</span></a>
      </div>
      <div>
        <a routerLink="/employee"><img src="./../../../../assets/icon/employee gray.png" class="nav-icons"  />
          <span class="nav-text">Employee</span></a>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>