.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    margin-top:60px;
    left: 0;
    background-color: #141d26;
    overflow-x: hidden;
    padding-top: 20px;
}
.nav-icons{
    width: 28px;
    height: 28px    
}
.nav-text{
    margin-left:13px
}

.sidenav a {
    padding: 6px 8px 6px 40px;
    text-decoration: none;
    font-size: 14px;
    color:white;
}

.sidenav a:hover {
    color: #ff4c01;
}
