<div class="container-fluid">
    <div class="row society-header">
        <div class="col-sm-4">
            <p class="Dashboard-Society">Dashboard / <span class="text-style-1">Society</span></p>
            <p class="Society">Society</p>
        </div>
        <div class="col-sm-8 example-form">
            <!-- <ul>
            <li><i class="fa fa-search" style="color:darkgrey"></i><span>Search...</span></li>
            <li></li>
        </ul> -->
            <form >
                <table >
                    <tr>
                        <td>
                            <mat-form-field class="example-full-width">
                                <!-- <div>
                                <span class="fa fa-search"></span>
                                <input matInput placeholder="Search...">
                                </div> -->
                               
                                <input matInput placeholder="Search...">
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field class="search-by">
                                <mat-select placeholder="Search by">
                                    <mat-option *ngFor="let food of foods" [value]="food.name">
                                        {{food.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </td>
                        <td>
                            <button type="button" class="button button-upolad-excell"><i class="fa fa-upload"></i>Upload Excel File</button>
                        </td>
                        <td>
                            <button type="button" class=" button button-add-society"><i class="fa fa-plus"></i>Add Society</button>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
    <!-- <div class="society_table">
        <table class="table" >
            <thead>
            <tr class="bg-primary">
              <th>ID</th>
              <th>SOCIETY NAME</th>
              <th>SECTOR/AREA</th>
              <th>CITY</th>
              <th>STATE</th>
              <th>PIN CODE</th>
              <th>NO OF TOWERS</th>
            </tr> 
            </thead>

            <tbody>
            <tr *ngFor ="let find of society">
              <td >{{find.id}}</td>
              <td>{{find.name}}</td>
              <td>{{find.area}}</td>
              <td>{{find.city}}</td>
              <td>{{find.state}}</td>
              <td>{{find.pincode}}</td>
              <td>{{find.total_towers}}</td>
            </tr>
            </tbody>
        </table>
          
    </div>  -->
 <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID. </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
  
   
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> SOCIETY NAME </th>
      <td mat-cell *matCellDef="let society"> {{society.name}} </td>
    </ng-container>
  
    <ng-container matColumnDef="area">
      <th mat-header-cell *matHeaderCellDef> SECTOR AREA</th>
      <td mat-cell *matCellDef="let society"> {{society.area}} </td>
    </ng-container>
  
    <ng-container matColumnDef="city">
      <th mat-header-cell *matHeaderCellDef> CITY </th>
      <td mat-cell *matCellDef="let society"> {{society.city}} </td>
    </ng-container>

    <ng-container matColumnDef="state">
        <th mat-header-cell *matHeaderCellDef> STATE </th>
        <td mat-cell *matCellDef="let society"> {{society.state}} </td>
      </ng-container>

      <ng-container matColumnDef="pincode">
        <th mat-header-cell *matHeaderCellDef> PIN CODE </th>
        <td mat-cell *matCellDef="let society"> {{society.pincode}} </td>
      </ng-container>

      <ng-container matColumnDef="total_towers">
        <th mat-header-cell *matHeaderCellDef> NO OF TOWERS </th>
        <td mat-cell *matCellDef="let society"> {{society.total_towers}} </td>
      </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>  