<!--The content below is only a placeholder and can be replaced.-->
<header>
  <nav class="navbar">
    <div class="navbar-brand ex-nav-brand" href="#">
      <img class="navbar-brand-icon" src="./../assets/icon/brand-logo.png" alt="" width="150px">
      
    </div>
    <div class="header-right">
        <ul class="nav">
            <li class="nav-divider"></li>
            <li > <img class="header-right-bell" src="./../assets/icon/bell-icon.png" width="25px"></li>
            <li class="nav-divider"></li>
            <li class="admin-name">Abbas haider</li>
        </ul>
    </div>
  </nav>
</header>
<app-sidemenu></app-sidemenu>

