header {
    background-image: linear-gradient(to top, #ff4c01, #ff6f33);
    color: white;
    height: 60px;
    overflow: hidden;
    position: fixed;
    top: 0;
    width:100%;
}

.navbar-brand-icon {
   
    object-fit: contain;
    color: white;
    margin-right: 5px;
  }
  .admin-name{
    margin-left: 15px;
    font-size: 13px;
    padding-top: 6px;
    margin-top:7px;
  }


  .nav-divider {
    border: 0.5px solid white;
    height: 65px;
    margin-top: -8px;
    margin-right: 5px;
    margin-left: 5px;
  }
  .header-right-bell{
      margin : 7px;
  }

  .container{
    margin-left: 250px;
  }
  .navbar{
      margin-right: 5px;
  }
  navbar-brand{
    display: inline-block;
    padding-top: .3125rem !important;
    padding-bottom: .3125rem !important;
    margin-right: 1rem;
    font-size: 1.25rem !important;
    line-height: inherit;
    white-space: nowrap;
  }
  .ex-nav-brand{
    margin-left: 15px;
    font-size: 18px;
    padding-bottom: 15px
  }