/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@font-face {
    font-family: Poppins;
    src: url(./assets/fonts/Poppins-Regular.ttf) format('truetype');
}
/* @font-face {
    font-family: Rlight;
    src: url(./assets/fonts/RobotoSlab-Regular.ttf) format('truetype');
    } */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
